# Format Style Options
---
AlignAfterOpenBracket: Align                          # Optional: Align after open bracket for readability
AlignConsecutiveAssignments: true                     # Rule 13.2 c, Align consecutive assignments
AlignConsecutiveBitFields: true                       # Align consecutive bitfields
AlignConsecutiveDeclarations: true                    # Rule 13.2 a, b, Align consecutive declarations
AlignConsecutiveMacros: true                          # Do not align consecutive macros
AlignEscapedNewlines: Left                            # Optional: Align escaped newlines to the right for readability
#AccessModifierOffset: -4
AlignOperands: Align                                  # Required: Align operands in binary and ternary expressions (Operator precedence)
AlignTrailingComments: true                           # Required: Align trailing comments for better readability
#AllowAllArgumentsOnNextLine: true
#AllowAllConstructorInitializersOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: true       # Required: Ensures all parameters are on the same line for clarity (Variable Declarations)
AllowShortBlocksOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: false              # Rule 13.3 a, Required: Avoid short case labels on a single line for consistency (Switch Statements)
AllowShortFunctionsOnASingleLine: false               # Rule 13.3 a, Required: Short functions should not be on a single line for clarity (Braces)
#AllowShortLambdasOnASingleLine: All
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false                   # Rule 13.3 a, Required: Avoid short loops on a single line for consistency (Braces)
AlwaysBreakAfterDefinitionReturnType: None            # Required: Break after return type in function definitions for clarity (Line Widths)
AlwaysBreakAfterReturnType: None                      # Required: Break after return type in declarations for readability (Line Widths)
AlwaysBreakBeforeMultilineStrings: false              # Optional: Controls whether to break before multiline strings
#AlwaysBreakTemplateDeclarations: Yes
BinPackArguments: true                                # Optional: Bin pack function arguments
BinPackParameters: true                               # Optional: Bin pack function parameters
BraceWrapping:                                        # Brace wrapping for 11.3 a, b
  AfterCaseLabel: true                                # Required: Enforce brace on line after case
#  AfterClass:      true
  AfterControlStatement: true                         # Required: Braces for control statements should not break after control keyword (Braces)
  AfterEnum: true                                     # Required: Braces for enum definitions should not break after enum keyword (Braces)
  AfterFunction: true                                 # Required: Braces for function definitions should not break after function keyword (Braces)
#  AfterNamespace:  false
#  AfterObjCDeclaration: true
  AfterStruct: true                                   # Required: Braces for struct definitions should not break after struct keyword (Braces)
  AfterUnion: true                                    # Required: Braces for union definitions should not break after union keyword (Braces)
  AfterExternBlock: true                              # Required: Braces for extern block should not break after extern block keyword (Braces)
#  BeforeCatch: true
  BeforeElse: true                                    # Required: Braces for else blocks should not break before else keyword (Braces)
  BeforeWhile: false                                  # Required: Braces for while blocks should not break before while keyword (Braces)
  IndentBraces: false                                 # Required: Braces should not be indented (Braces)
  SplitEmptyFunction: true                            # Optional: Split empty function braces
  SplitEmptyRecord: true                              # Optional: Split empty record braces
#  SplitEmptyNamespace: true
BreakBeforeBinaryOperators: None                      # Required: Break before binary operators except assignment for clarity (Operator precedence)
BreakBeforeBraces: Custom                             # Set to "Custom" - refer to "BraceWrapping" for enforced configs (Braces)
#BreakBeforeInheritanceComma: false
#BreakInheritanceList: BeforeComma
BreakBeforeTernaryOperators: true                     # Required: Break before ternary operators for readability (Operator precedence)
#BreakConstructorInitializersBeforeComma: false
#BreakConstructorInitializers: BeforeComma
#BreakAfterJavaFieldAnnotations: true
BreakStringLiterals: true                             # Required: Break string literals for readability (Line Widths)
ColumnLimit: 132                                      # Rule 11.2 a, Required: Column limit set to 132 characters, can be adjusted as per team preference (Line Widths)
CommentPragmas: '^ IWYU pragma:'                      # Optional: Manages #include directives and keeps unused inclusions
#CompactNamespaces: false
#ConstructorInitializerAllOnOneLineOrOnePerLine: false
#ConstructorInitializerIndentWidth: 4
ContinuationIndentWidth: 4                            # Optional: Indentation for line continuations
#Cpp11BracedListStyle: false
#DeriveLineEnding: true
DerivePointerAlignment: false                         # Rule 13.1 e, Required: Do not derive pointer alignment from variable definitions (Initialization Rules)
#DisableFormat:   false
ExperimentalAutoDetectBinPacking: false               # Optional: Control bin packing of function parameters
#FixNamespaceComments: false
ForEachMacros:                                        # Optional: List of macros to be treated as foreach loops
  - foreach
  - Q_FOREACH
  - BOOST_FOREACH
IncludeBlocks: Preserve                               # Optional: Preserve include blocks
IncludeCategories:                                    # Define include categories, prioritizes c files 
  - Regex: '^"(llvm|llvm-c|clang|clang-c)/'
    Priority: 2
    SortPriority: 0
    CaseSensitive: false
  - Regex: '^(<|"(gtest|gmock|isl|json)/)'
    Priority: 3
    SortPriority: 0
    CaseSensitive: false
  - Regex: '.*\.c$'
    Priority: 1
    SortPriority: 0
    CaseSensitive: false
IncludeIsMainRegex: '(Test)?$'                        # Optional: Regex for main include
#IncludeIsMainSourceRegex: ''
IndentCaseLabels: true                                # 13.4 b, Required: Indent case labels in switch statements (Switch Statements)
#IndentGotoLabels: true
IndentPPDirectives: BeforeHash                        # Rule 13.2 d, Required: Indent preprocessor directives after hash (Preprocessor Directives)
IndentWidth: 4                                        # Rule 13.4 a, Required: Indent width for code blocks, can be adjusted as per team preference (Indentation)
IndentWrappedFunctionNames: false                     # Required: Do not indent wrapped function names (Function Declarations)
InsertBraces: true                                    # Rule 11.3 a, Required: Insert braces after control statements (Braces)
InsertNewlineAtEOF: true                              # Rule 13.3 c, Required: Each source file shall terminate marking the EOF followed by blank line
#JavaScriptQuotes: Leave
#JavaScriptWrapImports: true
KeepEmptyLinesAtEOF: true
KeepEmptyLinesAtTheStartOfBlocks: true                # 13.3 b, Required: Control whether to keep empty lines at the start of blocks
Language: Cpp                                         # Language to format: Cpp
MacroBlockBegin: ''
MacroBlockEnd:   ''
MaxEmptyLinesToKeep: 1                                # Optional: Maximum number of consecutive empty lines to keep
#NamespaceIndentation: None
#ObjCBinPackProtocolList: Auto
#ObjCBlockIndentWidth: 4
#ObjCSpaceAfterProperty: true
#ObjCSpaceBeforeProtocolList: false
PenaltyBreakAssignment: 2                             # Optional: Penalty for breaking assignments
PenaltyBreakBeforeFirstCallParameter: 19              # Optional: Penalty for breaking before the first parameter in a function call
PenaltyBreakComment: 300                              # Optional: Penalty for breaking comments
PenaltyBreakFirstLessLess: 120                        # Optional: Penalty for breaking before the first '<<'
PenaltyBreakString: 1000                              # Optional: Penalty for breaking strings
#PenaltyBreakTemplateDeclaration: 10
PenaltyExcessCharacter: 1000000                       # Optional: Penalty for exceeding column limit
PenaltyReturnTypeOnItsOwnLine: 60                     # Optional: Penalty for placing return type on its own line
PointerAlignment: Middle                              # Rule 13.1 e, Required: Align pointers to the middle (Initialization Rules)
ReflowComments: true                                  # Optional: Reflow comments for better readability
SortIncludes: true                                    # Required: Sort include statements for consistency (Common Abbreviations)
SortUsingDeclarations: true                           # Required: Sort using declarations for consistency (Common Abbreviations)
SpaceAfterCStyleCast: false                           # Required: Ensure no space after C-style cast (Casts)
#SpaceAfterLogicalNot: false
#SpaceAfterTemplateKeyword: false
SpaceBeforeAssignmentOperators: true                  # Rule 13.1 b, Required: Ensure space before assignment operators for readability (Operator precedence)
#SpaceBeforeCpp11BracedList: true
#SpaceBeforeCtorInitializerColon: true
#SpaceBeforeInheritanceColon: true
SpaceBeforeParens: Custom                             # Rule 13.1 a, 13.1 j, Required: Ensure space before parentheses (Parentheses)
SpaceBeforeParensOptions:
  AfterControlStatements: true
  AfterFunctionDeclarationName: true
  AfterFunctionDefinitionName: true
#SpaceBeforeRangeBasedForLoopColon: true
#SpaceInEmptyBlock: false
SpaceInEmptyParentheses: false                        # Rule 13.1 i, Required: Do not allow space in empty parentheses for consistency (Parentheses)
SpacesBeforeTrailingComments: 1                       # Optional: Spaces before trailing comments
#SpacesInAngles:  false
#SpacesInConditionalStatement: false
#SpacesInContainerLiterals: false
SpacesInCStyleCastParentheses: false                  # Required: Do not allow spaces in C-style cast parentheses (Casts)
SpacesInParentheses: false                            # Rule 13.1 i, Required: Do not allow spaces in parentheses (Parentheses)
SpacesInSquareBrackets: false                         # Rule 13.1 h, Required: Do not allow spaces in square brackets (Brackets)
#SpaceBeforeSquareBrackets: false
Standard: c++11                                       # Required: Use C++11 standard (Language Standards)
StatementMacros:                                      # Optional: List of macros to be treated as statements
  - Q_UNUSED
  - QT_REQUIRE_VERSION
#TabWidth: 8
UseCRLF: false                                        # Rule 13.6 a, Required: Control line ending type
UseTab: Never                                         # Rule 13.5 a, Required: Use spaces instead of tabs for indentation
WhitespaceSensitiveMacros:                            # Optional: List of macros that are sensitive to whitespace
  - STRINGIZE
  - PP_STRINGIZE
  - BOOST_PP_STRINGIZE
